@model Service
@{
    ViewData["Title"] = "Detail";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4>Name: @Model.Name</h4>
                <div>Description: @Model.Description</div>
                <a class="btn btn-behance my-3" asp-action="Index">Cancel</a>
            </div>
        </div>
    </div>
</div>
